/*---Shared style---*/
body {
    font-family: 'Lato', sans-serif;
}

.pink-primary-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 35px;
    text-align: center;
    margin: 0px 50px;

}

/*---header section---*/
.greeting-title {
    background-color: #E554731A;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;

}

.greeting-title h2 {
    margin-bottom: -20px;
}


.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    padding: 50px 50px;

}

.main-flower .flower-profile {
    max-width: 500px;
}

.flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 50px 50px;
}

/*---Feature flower section---*/
.featured-flowers-info {
    text-align: center;
    margin-bottom: 10px;
}

.featured-flowers-info .featured-flowers-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/*feature image*/

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 0% 5% 0% 5%;
}

.caption {
    display: block;
    font-size: 20px;
    text-decoration-line: underline;
}


#img_01 {
    height: 538px;
    width: 280px;
    margin: 1%;
    padding: 5% 5% 0% 5%;
    border-radius: 300px 300px 0px 0px;
    background-color: #A7216226;
}

#img_02 {
    height: 538px;
    width: 280px;
    margin: 1%;
    padding: 5% 5% 0% 5%;
    border-radius: 300px 300px 0px 0px;
    background-color: #0597A026;
}

#img_03 {
    height: 538px;
    width: 280px;
    margin: 1%;
    padding: 5% 5% 0% 5%;
    border-radius: 300px 300px 0px 0px;
    background-color: #477D1126;
}


/*---sale section---*/
.sale-section {
    display: flex;
    margin: 100px 100px;
    justify-content: space-between;
    background-color: #E554730D;
    align-items: center;
}

.sale-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.sale-info {
    text-align: center;
    padding: 35px 18px;
    margin: 40px 80px;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sale-section .sale-pic {
    max-width: 500px;
    padding: 10px 20px;
}

/*---instagram section---*/
.insta-info {
    text-align: center;
    background-color: #FFF;
    ;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.instagram-section .insta-pic {
    display: flex;
    margin: 30px 50px;
}

.insta-pic img {
    padding: 40px 20px;
    max-width: 270px;
}

/*---latest-deal-section---*/
.latest-deal-image {
    border-radius: 8px;
    background-image: url("../Flower Asset/latest_deal.png");
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
}

.latest-deal-title {
    padding: 150px 50px 0px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -5px;
}

.latest-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

#email_text {
    padding: 15px 3px 15px 15px;
    width: 50%;
    border-radius: 10px;
    border: 0;
}

/*---Footer Section--*/
.footer-col {
    text-align: center;
    background-color: #111010;
    height: 350px;
}

.footer-col .footer-title {
    color: white;
    padding: 100px 100px;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: -70px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}

.footer-last-item {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}